@import "antd/dist/antd.css";
@import "react-quill/dist/quill.snow.css";
@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
